.more-icons {
  margin-top: 30px;
  border-bottom: var(--gray-border);
}

.more-suggestions__title {
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  font-weight: 500;
  padding: 20px 0px;
}
.more-suggestions__content__component img {
  border-radius: 10px;
  width: 70px;
  height: 70px;
}
.more-suggestions__content__component div {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
}
.more-suggestions__content__component span {
  color: var(--gray);
  font-size: 14px;
  line-height: 18px;
}
