.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 0px;
  border-top: 1px solid rgba(141, 137, 137, 0.2);
}

.nav__list {
  display: flex;
}

.nav__btn {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav__link {
}
.nav__btn__more {
  position: absolute;
  top: -5px;
  right: 30px;
}

.nav__btn__chat {
  position: absolute;
  top: -10px;
  right: 35px;
}
