.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  position: fixed;
  top: 26px;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  z-index: 1;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icon > span {
  margin-left: 25px;
  position: relative;
}
.icon-badge {
  top: -10px;
  right: -10px;
}
